body {
    background-color: #0d0e0e;
    font-family: sans-serif;
    margin: 0; /* Reset default margin to avoid unexpected spacing */ 
}

body.fixed-nav {
    padding-top: 70px; /* Adjust this value based on the height of your fixed navigation bar */
    transition: padding-top 0.3s; /* Add a transition for smooth effect */
}




.header {
    width: 100%;
    height: 100vh;
    background: url('IMG/1200px-TheDarkUrge.jpg') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

/* Your existing styles */

nav.black {
    background-color: #0d0e0e;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, height 0.3s ease; /* Add a transition for smooth effect on background and height changes */
    height: 70px; /* Adjust the height of the navigation bar when scrolled */
}

.logo {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-right: 20px;
}

.logo img {
    height: auto;
    max-height: 40px; /* Adjust the maximum height of the logo */
}

.menu {
    display: flex;
    align-items: center; /* Align items vertically */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-left: 15px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}





.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151618;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.Lore-category {
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    margin: 30px;
    height: 100vh;
    background-color: #151618;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center; /* centers the content vertically */
        padding-right: 15px; /* or adjust this value as needed */
    
    
}

.loreIMG {
    max-width: 50%;
    overflow: hidden;
}
