
.IMG {
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.IMG img {
    padding: 10px;
    margin: 10px;
    width: 60%;
    height: 60%;
}

.text-row{
    margin: 10px;
    padding: 10px;
}
    